<template>
    <div class="slds-text-heading_large slds-border_bottom">{label.welcomeHeader}</div>
    <div class="slds-text-body_regular slds-m-top_xx-small slds-m-bottom_medium">{label.welcomeText}</div>
    
    <lightning-input 
        type="text" 
        label={label.labelName} 
        value={name} 
        placeholder={placeholder.placeholderName}></lightning-input>

    <lightning-input 
        type="number" 
        label={label.labelAmountDue} 
        value={amountDue} 
        placeholder={placeholder.placeholderAmountDue} 
        step="0.01"
        formatter="currency"></lightning-input>

    <lightning-input 
        type="date" 
        label={label.labelDueDate} 
        value={dueDate} 
        placeholder={placeholder.placeholderDueDate}></lightning-input>

    <lightning-combobox
        name="season"
        label={label.labelSeason}
        value={season}
        placeholder={placeholder.placeholderSeason}
        options={seasons}></lightning-combobox>
</template>